<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <style>
    body {
        text-align: center;
    }


    .container {
        margin-top: 50px;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input[type="text"] {
        padding: 5px;
        width: 200px;
    }

    input[type="submit"] {
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand">Manage merchant</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a sec:authorize="isAuthenticated()" class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
          </li>
      </div>
			<a href="/logout" type="button" class="btn btn-primary d-flex">Logout</a> 
		</div>
	</nav>
<br /><br /><br />
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Registation form</h2>
            </div>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You have successfully registered a new merchant!
                </div>
            </div>
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    There is already an account registered with the same username.
                </div>
            </div>
            <div class="card-body">
                <form
                        method="post"
                        role="form"
                        th:action="@{/merchant/register}"
                        th:object="${user}"
                >

                    <div class="form-group mb-3">
                        <label class="form-label">Username:</label>
                        <input
                                class="form-control"
                                id="username"
                                name="username"
                                placeholder="Enter username"
                                th:field="*{username}"
                                type="username"
                                required
                        />
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Password</label>
                        <input
                                class="form-control"
                                id="password"
                                name="password"
                                placeholder="Enter password"
                                th:field="*{password}"
                                type="password"
                                required
                        />

                    </div>
                
                    <button name="action" value="register" class="btn btn-primary" type="submit">Register</button>
                 
                </form>
            </div>
        </div>
    </div>
    
</div>
</div>
</body>
</html>